<div class="row">
    <div class="w-100 m-0 p-0 text-center">
        <h5 class="text-danger">
            Daily Sales
        </h5>
        <div class="col-sm-6 offset-sm-3 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-xs-6 offset-xs-3">
            <h6 class="text-success">
                Enter Date Period
            </h6>
            <form novalidate #authForm="ngForm">
                <table border="0">
                    <tr>
                        <td>
                            <input #name="ngModel" name="startDate" type="datetime-local" class="form-control"
                            [(ngModel)]="startDate" required />
                        </td>
                        <td>
                            <input #name="ngModel" name="endDate" type="datetime-local" class="form-control"
                            [(ngModel)]="endDate" required />
                        </td>
                        <td>
                            <button class="btn btn-success" [disabled]="authForm.invalid" (click)="getDailySales()">GET</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div *ngIf="dailySales?.length>0" class="text-primary">
            Total Sales : {{getTotal().toFixed(2)}}
        </div>
    </div>
   
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div *ngIf="dailySales?.length>0">
            <div class="w-100 m-0 p-0" style="overflow-y:scroll; height:400px">
                <table class="table table-striped">
                    <thead class="m-0 p-0">
                        <tr class="m-0 p-0">
                            <th class="m-0 p-0 pl-1">Date</th>
                            <th class="m-0 p-0 pl-1">Day</th>
                            <th class="m-0 p-0 text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="m-0 p-0">
                        <tr *ngFor="let line of dailySales" class="m-0 p-0">
                            <td class="m-0 p-0 pl-1">
                                {{line.dayDate}}
                            </td>
                            <td class="m-0 p-0 pl-1">
                                {{line.dayName}}
                            </td>
                            <td class="m-0 p-0 text-right">
                                {{line.amount.toFixed(2)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <canvas id="barChart" height="135px" class="chartjs-render-monitor" style="display: block;"></canvas>
    </div>
</div>
