<div class="row">
    <div class="w-100 m-0 p-0 text-center">
        <h5 class="text-danger">
            Department Sales
        </h5>
        <div *ngIf="departmentSales?.length>0" class="text-primary">
                Total Sales : {{getTotal().toFixed(2)}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
        <div class="btn-group btn-group-justified">
            <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Today'}"
                (click)="setPeriod('Today')">
                Today
            </button>
            <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Yesterday'}"
                (click)="setPeriod('Yesterday')">
                Yesterday
            </button>
            <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='This Week'}"
                (click)="setPeriod('This Week')">
                This Week
            </button>
            <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Last Week'}"
                (click)="setPeriod('Last Week')">
                Last Week
            </button>
        </div>
        <div class="btn-group btn-group-justified">
            <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='This Month'}"
                (click)="setPeriod('This Month')">
                This Month
            </button>
            <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Last Month'}"
                (click)="setPeriod('Last Month')">
                Last Month
            </button>
            <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='This Quarter'}"
                (click)="setPeriod('This Quarter')">
                This Quarter
            </button>
            <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Last Quarter'}"
                (click)="setPeriod('Last Quarter')">
                Last Quarter
            </button>
        </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
        <div class="w-100 m-0 p-0 text-center">
            <h6 class="text-success">
                Enter Date Period
            </h6>
            <form novalidate #authForm="ngForm">
                <table border="0">
                    <tr>
                        <td (click)="setPeriod('')">
                            <input #name="ngModel" name="startDate" type="datetime-local" class="form-control" style="max-width: 250px;"
                            [(ngModel)]="startDate" required />
                        </td>
                        <td (click)="setPeriod('')">
                            <input #name="ngModel" name="endDate" type="datetime-local" class="form-control" style="max-width: 250px;"
                            [(ngModel)]="endDate" required />
                        </td>
                        <td>
                            <button class="btn btn-success" [disabled]="authForm.invalid" (click)="getDepartmentSales()">GET</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div *ngIf="departmentSales?.length>0">
            <div class="w-100 m-0 p-0" style="overflow-y:scroll; height:400px">
                <table class="table table-striped">
                    <thead class="m-0 p-0 bg-info text-white">
                        <tr class="m-0 p-0">
                            <th class="m-0 p-0 pl-1">Department</th>
                            <th class="m-0 p-0 text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody class="m-0 p-0">
                        <tr *ngFor="let line of departmentSales" class="m-0 p-0">
                            <td class="m-0 p-0 pl-1">
                                {{line.department}}
                            </td>
                            <td class="m-0 p-0 text-right">
                                {{line.amount.toFixed(2)}}
                            </td>
                        </tr>
                        <tr class="m-0 p-0 text-danger">
                            <td class="m-0 p-0 pl-1">
                                Total
                            </td>
                            <td class="m-0 p-0 text-right">
                                {{getTotal().toFixed(2)}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-success" [ngClass]="{'active':chart=='Bar Chart'}"
            (click)="setChart('Bar Chart')">
            Bar Chart
        </button>
        <button type="button" class="btn btn-sm btn-success" [ngClass]="{'active':chart=='Pie Chart'}"
            (click)="setChart('Pie Chart')">
            Pie Chart
        </button>
        </div>
        <canvas id="barChart" height="125px" class="chartjs-render-monitor" style="display: block;"></canvas>
    </div>
</div>
